.task-detail-enter {
  opacity: 0.01;
  transform: translateY(-500px);
}

.task-detail-enter.task-detail-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms linear;
}

.task-detail-exit {
  transform: translateY(-500px);
  opacity: 1;
}

.task-detail-exit.task-detail-exit-active {
  opacity: 0.01;
  transform: translateY(0);
  transition: all 500ms linear;
}
