.task-table-enter {
  opacity: 0.01;
  transform: translateY(750px);
}

.task-table-enter.task-table-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 500ms linear;
}

.task-table-exit {
  transform: translateY(0);
  opacity: 1;
}

.task-table-exit.task-table-exit-active {
  opacity: 0.01;
  transform: translateY(750px);
  transition: all 500ms linear;
}
