.sub-header-enter {
  opacity: 0.01;
  max-height: 0;
}

.sub-header-enter.sub-header-enter-active {
  max-height: 48px;
  opacity: 1;
  transition: all 150ms linear;
}

.sub-header-exit {
  opacity: 1;
  max-height: 48px;
}

.sub-header-exit.sub-header-exit-active {
  opacity: 0.01;
  max-height: 0;
  transition: all 150ms linear;
}
